// div{
//     background: url('https://cdn.playbuzz.com/cdn//f063e8fe-ad57-485e-8211-ed2ee0d9a205/1226f177-dc1a-4142-8875-bdaa177717d7.jpg') no-repeat  center;
// }

.image{
    display: block;
    margin: 2em auto;
}
.pStyle{
    font-size: 2em;
    text-align: center;
}