// div{
//     background: url('https://cdn.playbuzz.com/cdn//f063e8fe-ad57-485e-8211-ed2ee0d9a205/1226f177-dc1a-4142-8875-bdaa177717d7.jpg') no-repeat  center;
// }

.image{
    display: block;
    margin: 2em auto;
}
.pStyle{
    font-size: 2em;
    text-align: center;
}

// change radio button style
.radio-toolbar label {
    display: inline-block;
    background-color: grey;
    padding: 0.5em 1em;
  
    border-radius: 0.5em;
    width: 8em;
    margin: 1em 1em;
}
// hide browser default radio button view
input[type="radio"] {
    opacity: 0;
    position: fixed;
}
//when button checked
.radio-toolbar input[type="radio"]:checked + label {
    border: 2px solid black;
}
